{
    "accountMnemonic": "lock basic ...",
    "rpcNetwork": "wss://alcyone-rpc.polymesh.live",
    "middlewareLink": "https://middleware.polymath.live/dev/graphql",
    "middlewareKey": "0123456789abcdefghijklmnopqrstuvwxyzABCD"
}