{
    "accountMnemonic": "lock basic ...",
    "rpcNetwork": "wss://alcyone-rpc.polymesh.live",
    "middlewareLink": "https://testnet-middleware.polymesh.live/testnet/graphql",
    "middlewareKey": "0123456789abcdefghijklmnopqrstuvwxyzABCD"
}